@page
@model FlatoutCMS.Admin.Areas.Admin.Pages.EditorModel
@using System.IO;
@{
    Layout = "_admin";
    ViewData["Title"] = "Admin";
}

<div class="row">
    <div class="col-4">
        <h2>Files:</h2>
        <nav>
            <ul class="list">
            @foreach (var folder in Directory.GetDirectories("."))
            {
                PrintFolder(folder);
            }
            </ul>
        </nav>
    </div>

    <div class="col-8">
        Editor
    </div>
</div>

@functions {
    void PrintFolder(string folder)
    {
        if (Model.accept.Contains(folder))
        {
            <ul class="list">
                @foreach (var sub in Directory.GetDirectories(folder))
                {
                    <li class="list-item">@sub</li>
                    PrintFolder(sub);
                }
                @foreach (var file in Directory.GetFiles(folder))
                {
                    <li class="list-item">@file</li>
                }
            </ul>
        }
    }
}
